@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
}

:root {
    --color-back: #FFE4EF;
    --color-card: #FDACAC;
}

.bg-main {
    background-color: var(--color-back);
}

.bg-card {
    background-color: var(--color-card) !important;
    transition: all 0.3s ease;
}

.bg-card:hover {
    transform: translateY(-8px) scale(1.01);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
}

.bg-card-none {
    background-color: var(--color-card) !important;
}

.icon {
    width: 60px;
    height: 60px;
    transition: .3s;
}

.text-main {
    color: var(--color-card);
}

.image-time {
    width: 100%;
}

.image-memory {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

@media (max-width: 576px) {
    .image-memory {
        height: 120px;
    }
}